---
import { inputVariants } from '@/components/Input.astro'
import { cn } from '@/utils/theme'
import type { HTMLAttributes } from 'astro/types'
import type { VariantProps } from 'class-variance-authority'
import { Search } from 'lucide-astro'

export type Props = HTMLAttributes<'input'> & VariantProps<typeof inputVariants>

const { pill, variant, size, class: className, ...props } = Astro.props
---

<div class='flex relative'>
  <Search
    class='size-icon-sm text-icon-base-subtler pointer-events-none absolute left-8 top-[50%] -translate-y-[50%]'
  />
  <input
    type={'search'}
    class={cn(inputVariants({ pill, variant, size }), className, 'pl-36')}
    {...props}
  />
</div>
